@import 'src/utils/colors';

.disk {
    margin-top: 20px;
    min-height: 50vh;

    &__buttons {
        display: flex;
        align-items: center;

        button {
            padding: 5px;
        }

        &__createFolder {
            margin-left: 10px;
        }
    }

    &__upload_label {
        border: 2px dashed var(--font-color);
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
    }

    &__upload_input {
        display: none;
    }
}

.drop-area {
    width: 100%;
    height: calc(100vh - 50px - 40px);
    margin: 20px;
    border: dashed var(--font-color) 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
