@import 'src/utils/colors';

.disk {
    margin-top: 20px;

    &__buttons {
        display: flex;
        align-items: center;

        button {
            padding: 5px;
        }

        &__createFolder {
            margin-left: 10px;
        }
    }

    &__upload_label {
        border: 2px dashed var(--font-color);
        padding: 5px 10px;
        cursor: pointer;
        margin-left: 10px;
    }

    &__upload_input {
        display: none;
    }
}
