@import 'utils/colors';

@mixin menu-item-auth {
    margin-left: auto;
    margin-right: 20px;
}

.navbar {
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: white;
    width: 100%;

    &__header {
        margin-left: 10px;
        font-size: 24px;
        font-weight: 700;
    }

    &__login {
        @include menu-item-auth;
    }

    &__logout {
        @include menu-item-auth;
        cursor: pointer;
    }
}

.container {
    width: 1140px;
    display: flex;
    align-items: center;

    .home-link {
        display: flex;
    }
}
